.pricing-card-container {
  border-radius: 50px 0px 0px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), var(--Gray, #333);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 6rem 5.5rem;
  grid-row: 2/3;
}

.standard-plan {
  border-radius: 50px;
  background: var(--energy_orange);
  grid-row: 1/-1;
}

.pro-plan {
  border-radius: 0px 50px 50px 0px;
}

.pricing-card-plan {
  color: var(--ghost_white);
  text-align: center;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.pricing-card-payment {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}

.pricing-card-payment span {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.list-of-conditions {
  list-style-type: none;
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.list-of-conditions li {
  display: flex;
  gap: 1rem;
}

.checkpoint-icon {
  width: 2.4rem;
  height: 2.4rem;
}
