.pricing-card-container {
  border-radius: 50px 0px 0px 50px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), var(--Gray, #333);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 6rem 5.5rem;
  grid-row: 2/3;
}

.standard-plan {
  border-radius: 50px;
  background: var(--energy_orange);
  grid-row: 1/-1;
}

.pro-plan {
  border-radius: 0px 50px 50px 0px;
}

.pricing-card-plan {
  color: var(--ghost_white);
  text-align: center;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.pricing-card-payment {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1rem;
}

.pricing-card-payment span {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.list-of-conditions {
  list-style-type: none;
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.list-of-conditions li {
  display: flex;
  gap: 1rem;
}

.checkpoint-icon {
  width: 2.4rem;
  height: 2.4rem;
}

@media (max-width: 75em) {
  .pricing-card-container {
    padding: 6rem 0 6rem 3rem;
  }
}

@media (max-width: 69em) {
  .pricing-card-container {
    padding: 6rem 0 6rem 1rem;
  }

  .pricing-card-plan {
    font-size: 2.1rem;
  }

  .pricing-card-payment {
    font-size: 2.1rem;
    margin-top: 1rem;
  }

  .pricing-card-payment span {
    font-size: 3.5rem;
  }

  .list-of-conditions {
    font-size: 1.8rem;
    margin-top: 3.5rem;
    gap: 2.5rem;
  }

  .list-of-conditions li {
    gap: 0.5rem;
  }

  .checkpoint-icon {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 59em) {
  .pricing-card-container {
    grid-row: auto;
  }

  .pro-plan {
    grid-row: 1;
    grid-column: 2;
  }

  .standard-plan {
    grid-column: 1/-1;
    justify-self: center;
    padding: 6rem 2rem 6rem 5.5rem;
  }
}

@media (max-width: 37.5em) {
  .pricing-card-container {
    border-radius: 5rem;
  }
  .pro-plan {
    grid-row: 3;
    grid-column: 1;
  }
  .standard-plan {
    grid-column: 1;
    justify-self: auto;
  }
}
