.team-member-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-member-profile-picture {
  width: 34rem;
  height: 34rem;
  border-radius: 5rem 5rem 0 0;
}

.team-member-fullname {
  color: var(--ghost_white);
  text-align: center;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 2rem;
}

.team-member-position {
  color: var(--sonic_sliver);
  text-align: center;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 1rem;
}

@media (max-width: 68em) {
  .team-member-container:last-child {
    justify-self: center;
    align-self: center;
  }
  .team-member-profile-picture {
    width: 30rem;
    height: 30rem;
  }

  .team-member-fullname {
    font-size: 2.5rem;
    margin-top: 1rem;
  }

  .team-member-position {
    font-size: 2.1rem;
    margin-top: 0.5rem;
  }
}
