.generated-images {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 3rem;
}

.scrolling-images-container {
  position: relative;
  display: flex;
  overflow: hidden;
}

.scrolling-time-for-first-line {
  --time: 28s;
}

.scrolling-time-for-second-line {
  --time: 26s;
}

.scrolling-images-container div {
  white-space: nowrap;
  animation: scroll var(--time) linear infinite;
  animation-delay: calc(var(--time) * -1);
}

.scrolling-images-container div:nth-child(2) {
  animation: scroll2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / -2);
}

.generated-image {
  width: 25rem;
  height: 25rem;
  /* scale: 0.5; */
  margin-left: 10rem;
  border-radius: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.qualities-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 6.4rem;
}

.quality {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 3rem;
}

.quality-icon-container {
  padding: 3.3rem 3.3rem 3.3rem 3.3rem;
  border-radius: 50%;
  border: 1px dashed var(--MAIN, #41b537);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(41, 157, 31, 0.2) 0%,
    rgba(41, 157, 31, 0) 100%
  );
}

.quality-icon {
  box-sizing: content-box;
  width: 7rem;
  height: 7rem;
  padding: 3.3rem 3.3rem 3.3rem 3.3rem;
  border-radius: 50%;
  border: 1px dashed var(--MAIN, #41b537);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(41, 157, 31, 0.2) 0%,
    rgba(41, 157, 31, 0) 100%
  );
  grid-row: 1/-3;
}

.quality h1 {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: capitalize;
}

.quality p {
  color: var(--sonic_sliver);
  font-family: Montserrat;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  text-transform: capitalize;
  grid-column: 2;
}

.captivatin-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10rem;
}

.captivatin-img {
  width: 85%;
  border-radius: 5rem;
}

.captivatin-img-text {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  text-transform: capitalize;
  align-self: center;
}

.captivatin-img-text span {
  color: var(--energy_orange);
  font-family: "Bad Script";
  font-weight: bold;
}

.statistics {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.statistics span {
  display: inline-block;
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 4.5rem 2.5rem;
  border-radius: 100px;
  border: 1px dashed var(--sonic_sliver);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(41, 157, 31, 0.2) 0%,
    rgba(41, 157, 31, 0) 100%
  );
}

.statistic p {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3rem;
  text-align: center;
}

.comment-by-ceo {
  margin-top: 10rem;
}

.comment-by-ceo h1 {
  color: var(--sonic_sliver);
  text-align: center;
  font-family: Montserrat;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.6;
}

.ceo-information {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.ceo-information h3 {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
}
.ceo-information h4 {
  color: var(--ghost_white);
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 400;
}

.ceo-profile-photo {
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  margin-right: 2rem;
}
